/* app/RecipeList.module.css */

.recipeItem {
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.recipeItem:hover {
  transform: translateY(-5px);
}

.recipeItem h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.recipeItem p {
  margin-bottom: 0;
  color: #666;
}
